<!--
Copyright © 2017, ACM@UIUC

This file is part of the Groot Project.

The Groot Project is open source software, released under the University of
Illinois/NCSA Open Source License.  You should have received a copy of
this license in a file with the distribution.
-->

<%- include('../_partials/header') -%>
<div id="home-container" class="merch-container">
  <div class="row">
    <%- include('../_partials/flash') -%>
  </div>

  <div class="row">
    <h2>Merch Manager</h2>

    <div class="merch-card-container row">
    <% for (var i = 0; i < locations.length; i++) { %>
      <div id="loc-card-<%= locations[i].id %>" class="merch-card card">
        <a href="#" onclick="merchPopout(<%= locations[i].id %>); return false;">
            <% if (locations[i].item == null) { %>
                <img src="/images/item-placeholder.png" class="merch-image"/>
            <% } else { %>
                <img class="merch-image" src="<%= locations[i].item.image %>" />
            <% } %>
        </a>
        <% if (locations[i].item == null) { %>
            <h5><%= locations[i].location %>: Unassigned</h5>
            <% if (roles.isAdmin || roles.isTop4) { %>
                <a href="items/<%= locations[i].location %>/new">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    Assign to item
                </a>
            <% } %>
        <% } else { %>
            <h5><%= locations[i].location %>: <%= locations[i].quantity %> of <%= locations[i].item.name %></h5>
            <% if (roles.isAdmin || roles.isTop4) { %>
                <a href="items/<%= locations[i].item.id %>/<%= locations[i].location %>/edit">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    Edit
                </a>
                <br/>
                <a href="#" onclick="clearItem('<%= locations[i].location %>');">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    Delete
                </a>
            <% } %>
        <% } %>
        </div>
    <% } %>
    </div>
  </div>
</div>

<%- include('../_partials/footer') -%>

<script>
    function clearItem(loc) {
        $.ajax({
            url: "/intranet/merch/items/" + loc,
            method: "PUT",
        }).always(function() {
            location.reload();
        });
    }
</script>

