<!--
Copyright © 2016, ACM@UIUC

This file is part of the Groot Project.

The Groot Project is open source software, released under the University of
Illinois/NCSA Open Source License.  You should have received a copy of
this license in a file with the distribution.
-->

<%- include('_partials/header') -%>
<div id="resume-container">
  <div class="row">
    <h2>Corporate Manager</h2>
    <h3>Resume Manager </h3>
    <table>
      <tr>
        <th> Action </th> <th> Preview </th> <th> Data </th>
      </tr>
      <% for (var resume of unapproved_resumes) { %>
      <tr>
        <td>
         <a class="button" onclick="approveStudent('<%= resume.netid %>')">Approve</a>
         <a class="button" onclick="deleteStudent('<%= resume.netid %>')">Delete</a>
        </td>
        <td><a href='<%= resume.resume_url || "Resume unavailable" %>'">View resume</a></td>
        <td>
            Name: <%= resume.first_name + " " + resume.last_name %> <br>
            Graduation Date: <%= (new Date(resume.graduation_date)).toDateString() %> <br>
            Degree Type: <%= resume.degree_type %> <br>
            Job Type: <%= resume.job_type %>
        </td>
      </tr>
      <% } %>
    </table>
    <!-- <div class="controls">
        <button type="button" class="button" onclick="">Save Resumes</button>
    </div> -->
    <h3>Job Post Manager</h3>
    <table id="job-post-table">
      <tr>
        <th> Action </th>
        <th> Role </th>
        <th> Contact Information </th>
        <th> Description </th>
      </tr>
    <% for (var job of job_listings) { %>
      <tr>
        <td>
         <a class="button" onclick="approveJob('<%= job.id %>')">Approve</a>
         <a class="button" onclick="deleteJob('<%= job.id %>')">Delete</a>
        </td>
        <td><%= job.title + " @ " + job.company %></td>
        <td>
            <%= job.contact_name %> <br>
            <%= job.contact_email %> <br>
            <%= job.contact_phone %> <br>
        </td>
        <td> <%= job.description %> </td>
      </tr>
      <% } %>
    </table>
    <!--<div class="controls">
        <button type="button" class="button" onclick="">Save Jobs</button>
    </div>-->

    <h3>Account Manager</h3>
    <form ref="uploadForm" method="post" action="/sponsors/corporate_manager">
      <div class="field-group required">
        <label for="company_name" class="field-albe">Company Name </label>
        <div class="field">
          <input id="company_name" type="text" name="company_name" maxlength="16" />
      </div>
      <div class="field-group required">
          <label for="first_name" class="field-label">First Name</label>
          <div class="field">
              <input id="first_name" type="text" name="first_name" maxlength="32" />
          </div>
      </div>
      <div class="field-group required">
          <label for="last_name" class="field-label">Last Name</label>
          <div class="field">
              <input id="last_name" type="text" name="last_name" maxlength="32" />
          </div>
      </div>
      <div class="field-group required">
          <label for="netid" class="field-label">Contact Email</label>
          <div class="field">
              <input id="email" type="text" name="email" />
          </div>
      </div>
      <!-- to do:  expiration/action/sponsorship level -->
      <div class="controls">
          <button type="submit" class="button">Create Account</button>
      </div>
    </form>

    <h3>All Recruiters</h3>
    <table>
      <tr>
          <th>Company </th>
          <th>Name</th>
          <th>Email </th>
          <th>Expires </th>
      </tr>
      <% for (var recruiter of recruiters) { %>
      <tr>
        <td><%= recruiter.company_name %></td>
        <td><%= recruiter.first_name + " " + recruiter.last_name%></td>
        <td><%= recruiter.email %></td>
        <td><%= recruiter.expires_on %></td>
      </tr>
      <% } %>
    </table>
  </div>
</div>

<%- include('_partials/footer') -%>

<!-- make request then check 200, then remove the row if successful -->
<script>
  function approveStudent(netid) {
    
  }

  function approveJob(jobId) {
    
  }

  function deleteStudent(netid) {

  }

  function deleteJob(netid) {

  }
</script>