<!--
Copyright © 2017, ACM@UIUC

This file is part of the Groot Project.  

The Groot Project is open source software, released under the University of
Illinois/NCSA Open Source License.  You should have received a copy of
this license in a file with the distribution.
-->

<%- include('_partials/header') -%>

<div id="credits-container">
  <div class="row col-centered small-12 medium-6 large-6">
    <h3>Credits Admin</h3>
    <% if (users && users.length != 0) { %>
      <table id="transactions-table" class="dynatable-container">
        <thead>
          <tr>
            <th> NetID </th>
            <th> Balance </th>
            <th></th>
          </tr>
        </thead>
        <% for (var u of users) { %>
          <tr class="transaction">
            <td> <%= u.netid %> </td>
            <td> <%= (u.balance >= 0 ? '$' : '-$') + Math.abs(u.balance).toFixed(2) %> </td>
            <td> <a href='/credits/admin/<%= u.netid %>' class='button'>View Details</a>
          </tr>
          <% } %>
        </table>
    <% } else { %>
      <h5>There are no users.</h5>
    <% } %>
  </div>
</div>

<%- include('_partials/footer') -%>

<script type="text/javascript">
  $('#transactions-table').dynatable({
    features: {
      perPageSelect: false
    }
  });
</script>
