<!--
Copyright © 2016, ACM@UIUC

This file is part of the Groot Project.  

The Groot Project is open source software, released under the University of
Illinois/NCSA Open Source License.  You should have received a copy of
this license in a file with the distribution.
-->

<%- include('_partials/header') -%>



<div class="meme-container">
  <div class="meme-header row">
    <h2>Memes</h2>
    <a href="/memes/upload">
      <button class="button meme-button">Upload</button>
    </a>
    <% if(adminPage) { %>
      <h3>Admin Page</h3>
    <% } %>
    <% if ( messages.length > 0 ) { %>
    <div class="callout secondary">
      <p><%= messages %></p>
    </div>
    <% } %>
    <% if ( errors.length > 0 ) { %>
    <div class="callout alert">
      <p><%= errors %></p>
    </div>
    <% } %>
  </div>
  <div>
    <% for (var i = 0; i < memes.length; i++) { %>
      <% if(i % 4 == 0) { %>
        <div class="row meme-card-row">
      <% } %>
      <div class="small-4 columns">
        <div class="meme-card card" style="width:300px; max-height: 500px;">
          <img class="meme-image" src="<%= memes[i].url %>" />
          
          <div class="card-section meme-info">
            <% if(memes[i].title) { %>
              <h5 class="meme-title"><%= memes[i].title %></h5>
            <% } %>
            <span class="meme-uploader"><%= memes[i].author %></span>
            <small>(<%= memes[i].created_at %>)</small><br />
            <small><span id="meme-votes-<%=memes[i].id %>"><%= memes[i].votes %></span> Votes</small>
            <a href="#" onclick="memeVote(<%= memes[i].id %>)"><i id="vote-icon-<%=memes[i].id %>" class="fa <%= memes[i].upvoted ? "fa-thumbs-up meme-voted" : "fa-thumbs-o-up"%>" aria-hidden="true"></i></a>
          </div>
          <% if(adminPage) { %>
            <div class="card-section meme-info">
              <form action="/memes/admin/<%= memes[i].id %>?action=approve" method="post">
                  <button class="button" type="submit" name="approve">Approve</button>
              </form>
              <form action="/memes/admin/<%= memes[i].id %>?action=reject" method="post">
                  <button class="button" type="submit" name="reject">Reject</button>
              </form>
            </div>
          <% } %>
        </div>
      </div>
      <% if(i % 4 == 3) { %>
        </div>
      <% } %>
    <% } %>
    <% if (memes.length == 0) { %>
      <div class="row">
        <p>Nothing to see here... ¯\_ツ_/¯</p>
      </div>
    <% } %>
  </div>
  <div class="row">
    <% if(prevPage) { %>
      <a href="?page=<%= prevPage %>" class="button">Previous Page</a>
    <% } %>
    <% if(nextPage) { %>
      <a href="?page=<%= nextPage %>" class="button" style="float:right;">Next Page</a>
    <% } %>
  </div>
</div>

<script>
function memeVote(id) {
  var vote_span = $('#meme-votes-' + id);
  var vote_icon = $('#vote-icon-' + id);
  if (vote_icon.hasClass('busy')) {
    return; // Vote request already sent
  }
  var curr_count = parseInt(vote_span.text());
  var url = '/memes/vote/' + id;
  if(vote_icon.hasClass('meme-voted')) {
    url += '?action=unvote';
  }
  vote_icon.toggleClass('busy');
  $.get(url, function(data) {
    vote_span.text(vote_icon.hasClass('meme-voted') ? curr_count - 1 : curr_count + 1);
    vote_icon.toggleClass('meme-voted').toggleClass('busy');
    vote_icon.toggleClass('fa-thumbs-o-up').toggleClass('fa-thumbs-up');
  });
  
}
</script>

<%- include('_partials/footer') -%>
