<!--
Copyright © 2016, ACM@UIUC

This file is part of the Groot Project.  

The Groot Project is open source software, released under the University of
Illinois/NCSA Open Source License.  You should have received a copy of
this license in a file with the distribution.
-->

<%- include('_partials/header') -%>



<div class="meme-container">
  <div class="meme-header row">
    <h2>Memes</h2>
    <a class="button meme-button" href="/memes/upload">Upload</a>
    <% if(isAdmin) { %>
      <a class="button meme-button" href="<%= adminPage ? '/memes' : '/memes/admin' %>"><%= adminPage ? 'Return' : 'Admin Panel'%></a>
    <% } %>
    <% if(adminPage) { %>
      <h3>Admin Page</h3>
    <% } else { %>
      <br />
      <a class='meme-order-link' href='?order=latest'>Latest</a>
      <a class='meme-order-link' href='?order=top'>Top</a>
      <a class='meme-order-link' href='?order=hottest'>Hottest</a>
    <% } %>

    <% if ( messages.length > 0 ) { %>
    <div class="callout secondary">
      <p><%= messages %></p>
    </div>
    <% } %>
    <% if ( errors.length > 0 ) { %>
    <div class="callout alert">
      <p><%= errors %></p>
    </div>
    <% } %>
  </div>
  <div class="meme-card-container">
    <% for (var i = 0; i < memes.length; i++) { %>
      <% if(i % 4 == 0) { %>
        <div class="row meme-card-row">
      <% } %>
      <div class="small-4 columns">
        <div id="meme-card-<%= memes[i].id %>" class="meme-card card" style="width:300px; max-height: 500px;">
          <a href="#" onclick="memePopout(<%= memes[i].id %>); return false;">
            <img class="meme-image" src="<%= memes[i].url %>" />
          </a>
          
          <div class="card-section meme-info">
            <% if(memes[i].title) { %>
              <h5 class="meme-title"><%= memes[i].title %></h5>
            <% } %>
            <span class="meme-uploader"><%= memes[i].author %></span>
            <small>(<span class="meme-created-at"><%= memes[i].created_at %></span>)</small><br />
            <small><span class="meme-votes"><%= memes[i].votes %></span> Votes</small>
            <a href="#" onclick="memeVote(<%= memes[i].id %>);return false;"><i id="vote-icon-<%=memes[i].id %>" class="fa <%= memes[i].upvoted ? "fa-thumbs-up meme-voted" : "fa-thumbs-o-up"%>" aria-hidden="true"></i></a>
          </div>
          <% if(adminPage) { %>
            <div class="card-section meme-info">
              <form action="/memes/admin/<%= memes[i].id %>?action=approve" method="post" style="display:inline;">
                  <button class="button" type="submit" name="approve" >Approve</button>
              </form>
              <form action="/memes/admin/<%= memes[i].id %>?action=reject" method="post" style="display:inline;">
                  <button class="button" type="submit" name="reject" style="float:right;">Reject</button>
              </form>
            </div>
          <% } %>
        </div>
      </div>
      <% if(i % 4 == 3) { %>
        </div>
      <% } %>
    <% } %>
    <% if (memes.length == 0) { %>
      <div class="row">
        <p>Nothing to see here... ¯\_ツ_/¯</p>
      </div>
    <% } %>
  </div>
  <div class="row">
    <% if(prevPage) { %>
      <a href="?page=<%= prevPage %>" class="button">Previous Page</a>
    <% } %>
    <% if(nextPage) { %>
      <a href="?page=<%= nextPage %>" class="button" style="float:right;">Next Page</a>
    <% } %>
  </div>
</div>

<div class="reveal card-section" id="memeModal" data-reveal>
  <img id="memeModalImage" class="meme-image" style="max-height:100%;"/>
  <div class="card-divider meme-info">
    <h5 id="memeModalTitle" class="meme-title"></h5>
    <span id="memeModalUploader"></span>
    <small>(<span id="memeModalDate"></span>)</small><br />
    <small><span id="memeModalVotes"></span> Votes</small>
  </div>
</div>

<%- include('_partials/footer') -%>

<script>
$(document).foundation();
function memeVote(id) {
  var card = $('#meme-card-' + id);
  var vote_span = card.find('.meme-votes');
  var vote_icon = card.find('i');
  if (vote_icon.hasClass('busy')) {
    return; // Vote request already sent
  }
  var curr_count = parseInt(vote_span.text());
  var url = '/memes/vote/' + id;
  if(vote_icon.hasClass('meme-voted')) {
    url += '?action=unvote';
  }
  vote_icon.toggleClass('busy');
  $.get(url, function(data) {
    vote_span.text(vote_icon.hasClass('meme-voted') ? curr_count - 1 : curr_count + 1);
    vote_icon.toggleClass('meme-voted').toggleClass('busy');
    vote_icon.toggleClass('fa-thumbs-o-up').toggleClass('fa-thumbs-up');
  }); 
}
function memePopout(id) {
  $('#memeModal').foundation('destroy'); // Destroy any previous instantiations of modal
  var popup = new Foundation.Reveal($('#memeModal'));
  var card = $('#meme-card-' + id);
  $('#memeModalImage').attr('src', card.find('img').attr('src'));
  $('#memeModalTitle').text(card.find('.meme-title').text());
  $('#memeModalDate').text(card.find('.meme-created-at').text());
  $('#memeModalVotes').text(card.find('.meme-votes').text());
  $('#memeModalUploader').text(card.find('.meme-uploader').text());
  popup.open();
}
</script>

