<!--
Copyright © 2016, ACM@UIUC

This file is part of the Groot Project.

The Groot Project is open source software, released under the University of
Illinois/NCSA Open Source License.  You should have received a copy of
this license in a file with the distribution.
-->

<%- include('_partials/header') -%>
<div id="container">
    <div class="row">
      <h2>Invite <%= recruiter.first_name %> from <%= recruiter.company_name %></h2>
      <form method="post" action="/sponsors/recruiter_invite/<%= recruiter.id %>">
        <div class="field-group required">
          <label for="sender" class="field-label">From</label>
          <div class="field">
            <input id="sender" type="text" name="sender" ng-model="composer.sender" value="<%= email.from %>" />
          </div>
        </div>

        <div class="field-group required">
          <label for="recipient" class="field-label">To</label>
          <div class="field">
            <input id="recipient" type="text" name="recipient" ng-model="composer.recipient" value="<%= email.to %>" />
          </div>
        </div>

        <div class="field-group required">
          <label for="subject" class="field-label">Subject</label>
          <div class="field">
            <input id="subject" type="text" name="subject" ng-model="composer.subject" value="<%= email.subject %>" />
          </div>
        </div>

        <div class="field-group required">
          <label for="body" class="field-label">Message</label>
          <div class="field">
            <textarea id="body" type="text" name="body" ng-model="composer.body" value="<%= email.body %>" />
          </div>
        </div>

        <div class="control-group">
          <div class="controls">
            <button type="submit" class="button">Submit</button>
          </div>
        </div>
      </form>
    </div>
</div>
<%- include('_partials/footer') -%>