<!--
Copyright © 2016, ACM@UIUC

This file is part of the Groot Project.  

The Groot Project is open source software, released under the University of
Illinois/NCSA Open Source License.  You should have received a copy of
this license in a file with the distribution.
-->

<%- include('_partials/header') -%>

<div id="resume-container">
  <div class="row">
    <h2>ACM@UIUC Resume Book </h2>
    <p>You can filter the resumes by categories below. <br> If you have any trouble accessing resume, please contact us at <a href="mailto:corporate@acm.illinois.edu">corporate@acm.illinois.edu</a></p>
      <form method="post" action="/sponsors/resume_filter">
        <div class="field-group">
          <label for="name" class="field-label">Name </label>
          <div class="field">
            <input id="name" type="text" name="name" maxlength="20" value="<%= defaults.name %>" />
          </div>
        </div>
        <div class="field-group">
          <label for="netid" class="field-label">NetID</label>
          <div class="field">
            <input id="netid" type="text" name="netid" maxlength="15" value="<%= defaults.netid %>"/>
          </div>
        </div>
        <div class="field-group">
          <label for="gradYear" class="field-label">Graduating:</label>
          <select id="grad_year" name="gradYearStart">
            <option value="" <%= defaults.gradYearStart ? "selected" : "" %>></option>
            <% for (var option of grad.years) { %>
              <option value= "<%= option.date %>" <%= option.date === defaults.gradYearStart ? "selected" : "" %> > <%= option.date %> </option>
            <% } %>
          </select>
          </select> to   <select id="grad_year" name="gradYearEnd">
            <option value="" <%= defaults.gradYearEnd ? "selected" : "" %>></option>
            <% for (var option of grad.years) { %>
              <option value="<%= option.date %>" <%= option.date === defaults.gradYearEnd  ? "selected" : "" %> %> > <%= option.date %> </option>
            <% } %>
          </select>
        </div>
        <div class="field-group">
          <label for="degreeType" class="field-label">Level</label>
          <select id="degree_type" name="degreeType">
            <option value="" <%= defaults.degreeType ? "selected" : "" %>></option>
            <% for (var option of degree.types) { %>
              <option value="<%= option.name %>" <%= option.name === defaults.degreeType ? "selected" : "" %> > <%= option.name %> </option>
            <% } %>
          </select>
        </div>
        <div class="field-group">
          <label for="jobType" class="field-label">Seeking</label>
          <select id="job_type" name="jobType" >
            <option value="" <%= defaults.jobType ? "selected" : "" %>></option>
            <% for (var option of job.types) { %>
              <option value="<%= option.name %>" <%= option.name === defaults.jobType ? "selected" : "" %> > <%= option.name %> </option>
            <% } %>
          </select>
        </div>
        <div class="control-group">
        <div class="controls">
          <button type="submit" class="button">Search</button>
        </div>
      </div>
      <table>
        <tr>
            <th>Name </th>
            <th>Graduation </th>
            <th>Level </th>
            <th>Seeking </th>
            <th>Resume </th>
        </tr>
        <% for (var resume of resumes) { %>
          <tr>
            <td><%= resume.first_name %> <%= resume.last_name %></td>
            <td><%= resume.graduation_date %></td>
            <td><%= resume.degree_type %></td>
            <td><%= resume.job_type %></td>
            <td><a href="<%= resume.resume_url %>">Resume</a></td>
          </tr>
        <% } %>
      </table>
      <div class="control-group">
      <div class="controls">
        <% if(curr_page - 1 >= 0) { %>
          <button formaction="/sponsors/resume_filter?page=<%= curr_page - 1 %>" type="submit" class="button">Prev Page</button>
        <% } %>
        <% if(curr_page + 1 < max_page) { %>
          <button formaction="/sponsors/resume_filter?page=<%= curr_page + 1 %>" type="submit" class="button" style="float: right;"style="float: right;">Next Page</button>
        <% } %>
      </div>
      </div>
      </form>
  </div>
</div>


<%- include('_partials/footer') -%>
