<!--
Copyright © 2016, ACM@UIUC

This file is part of the Groot Project.  

The Groot Project is open source software, released under the University of
Illinois/NCSA Open Source License.  You should have received a copy of
this license in a file with the distribution.
-->

<%- include('_partials/header') -%>
    <div id="resume-container">
        <div class="row">
            <!-- Set by serialize_resume.js since that is needed to encode resume as string -->
            <p class="callout secondary" style="display: none"></p>
            <p class="callout alert" style="display: none"></p>

            <h2>Students</h2>
            <p>
                The ACM resume book is a packet of resumes provided to interested companies who contact ACM. To be included please fill in the information below. If you have any questions, please do not hesistate to <a href="mailto:corporate@acm.illinois.edu">email us</a>.
            </p>

            <form ref="uploadForm" id="uploadResume">
                <div class="field-group required">
                    <label for="first_name" class="field-label">First Name</label>
                    <div class="field">
                        <input id="first_name" type="text" name="firstName" maxlength="32" value='<%= student == null ? "" : student.first_name %>' />
                    </div>
                </div>
                <div class="field-group required">
                    <label for="last_name" class="field-label">Last Name</label>
                    <div class="field">
                        <input id="last_name" type="text" name="lastName" maxlength="32" value='<%= student == null ? "" : student.last_name %>' />
                    </div>
                </div>
                <div class="field-group required">
                    <label for="netid" class="field-label">NetID</label>
                    <div class="field">
                        <input id="netid" type="text" name="netid" maxlength="15" value='<%= student == null ? "" : student.netid %>' />
                    </div>
                </div>
                <div class="field-group required">
                    <label for="netid" class="field-label">Preferred Email</label>
                    <div class="field">
                        <input id="email" type="text" name="email" value='<%= student == null ? "" : student.email %>'/>
                    </div>
                </div>
                <div class="field-group required">
                    <label for="year" class="field-label">Graduation</label>
                    <select id="grad_year" name="gradYear">
                        <% for (var option of grad.years) { %>
                            <option value= '<%= option.date %>' <%= student != null && option.date === student.graduation_date ? "selected" : "" %> > <%= option.date %> </option>
                        <% } %>
                    </select>
                </div>
                <div class="field-group required">
                    <label for="degreeType" class="field-label">Degree</label>
                    <select id="degree_type" name="degreeType">
                        <% for (var option of degree.types) { %>
                            <option value= '<%= option.name %>' <%= student != null && option.name === student.degree_type ? "selected" : "" %> > <%= option.name %> </option>
                        <% } %>
                    </select>
                </div>
                <div class="field-group required">
                    <label for="jobType" class="field-label">Seeking</label>
                    <select id="job_type" name="jobType">
                        <% for (var option of job.types) { %>
                            <option value= '<%= option.name %>' <%= student != null && option.name === student.job_type ? "selected" : "" %> > <%= option.name %> </option>
                        <% } %>
                    </select>
                </div>
                <div class="field-group required">
                    <label for="jobType" class="field-label">Resume</label>
                    <input id="resume" type="file" file-model="resume" name="uploadResume" class="upload" />
                </div><br/>
                <div class="control-group">
                    <p>By submitting this form you verify that all the information above is correct and give ACM@UIUC permission to distribute your resume to all interested parties.</p>
                    <div class="controls">
                        <button type="button" class="button" onclick="send_resume();">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
<%- include('_partials/footer') -%>