<%- include('_partials/header') -%>

<div id="resume-container">
  <div class="row">
    <h2>ACM@UIUC Resume Book </h2>
    <p>You can filter the resumes by categories below. <br> If you have any trouble accessing resume, please contact us at <a href="mailto:corporate@acm.illinois.edu">corporate@acm.illinois.edu</a></p>
      <form>
        <div class="field-group">
          <label for="name" class="field-label">Name </label>
          <div class="field">
            <input id="name" type="text" name="name" maxlength="20" />
          </div>
        </div>
        <div class="field-group">
          <label for="netid" class="field-label">NetID</label>
          <div class="field">
            <input id="netid" type="text" name="netid" maxlength="15"/>
          </div>
        </div>
        <div class="field-group">
          <label for="degreeType" class="field-label">Level</label>
          <select id="degree_type" name="degreeType">
          <% for (var option of degree.types) { %>
            <option value= <%= option.name %> > <%= option.name %> </option>
          <% } %>
          </select>
        </div>
        <div class="field-group">
          <label for="jobType" class="field-label">Seeking</label>
          <select id="job_type" name="jobType" >
            <% for (var option of job.types) { %>
              <option value= <%= option.name %> > <%= option.name %> </option>
            <% } %>
          </select>
        </div>
        <div class="control-group">
        <div class="controls">
          <button type="submit" ng-click="Search()" class="button">Search</button>
        </div>
      </div>
      </form>
      <table>
        <tr>
            <th>Name </th>
            <th>Graduation </th>
            <th>Level </th>
            <th>Seeking </th>
            <th>Resume </th>
      </table>
  </div>
</div>





<%- include('_partials/footer') -%>
