<!--
Copyright © 2016, ACM@UIUC

This file is part of the Groot Project.  

The Groot Project is open source software, released under the University of
Illinois/NCSA Open Source License.  You should have received a copy of
this license in a file with the distribution.
-->

<%- include('_partials/header') -%>

<!-- http get on http://localhost:9001/groups/committees/Admin?isMember=<NETID> and http://localhost:9001/groups/committees/top4?isMember=<NETID> to find out if user is admin, check response json for "isValid":"true" -->


<div id="home-container" class="row">
	<div id="main-container" class="small-12 medium-9 large-9 columns">
		<div id="links-top" class="row">
			<h2>Pre Members</h2>
<<<<<<< HEAD
=======
			<% if (session.approvedUser) { %>
			<p><%=approvedUser%> has been successfully added.</p>
			<%}%>

>>>>>>> 7b0181ffd8cfa7bbd03bccf94f8a9d73ba0baf7d
			<!-- have netid, first name, last name, uin -->
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Mark Paid</th>  <!-- with paid, might be nice to have a js modal that comes up so that user can confirm that the member has paid -->
											<!-- issue of licensing? -->
						<th>Netid</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Submitted</th>
						<!-- not currently storing time that a user requests to signup, probably should -->
					<tr>
				</thead>
				<tbody>
<<<<<<< HEAD
					<tr>
=======
					<% for (var preuser of premembers) { %>
					<tr>
						<td><a href="/intranet/userApproval/<%=preuser.netid%>" class="btn">Paid</a>
						<td><%=preuser.netid%></td>
						<td><%=preuser.first_name%></td>
						<td><%=preuser.last_name%></td>
						<td><%=new Date(preuser.created_at).toLocaleString() %></td>
					</tr>
					<% } %>

<!-- 				<tr>
>>>>>>> 7b0181ffd8cfa7bbd03bccf94f8a9d73ba0baf7d
						<td><a href="/intranet" class="btn">Paid</a>
						<td>newuser123</td>
						<td>New</td>
						<td>User</td>
						<td>Oct. 4, 2012, 6:37 p.m.</td>
					</tr>
					<tr>
						<td><a href="/intranet" class="btn">Paid</a>
						<td>newuser123</td>
						<td>New</td>
						<td>User</td>
						<td>Oct. 4, 2012, 6:37 p.m.</td>
					</tr>
						<tr>
						<td><a href="/intranet" class="btn">Paid</a>
						<td>newuser123</td>
						<td>New</td>
						<td>User</td>
						<td>Oct. 4, 2012, 6:37 p.m.</td>
					</tr>
					<tr>
						<td><a href="/intranet" class="btn">Paid</a>
						<td>newuser123</td>
						<td>New</td>
						<td>User</td>
						<td>Oct. 4, 2012, 6:37 p.m.</td>
<<<<<<< HEAD
					</tr>
			</tbody>
			</table>
=======
					</tr> -->
			</tbody>
			</table>

>>>>>>> 7b0181ffd8cfa7bbd03bccf94f8a9d73ba0baf7d
		</div>
	</div>
</div>

<%- include('_partials/footer') -%>