<%- include('../_partials/header') -%>

<%
    // Session info for debug
    console.log("sesson", session)
%>

<!-- React mounting div -->
<div id="react-mount"></div>

<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
<!--
<script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>

<!-- EJS connection -->
<script type="text/javascript">
    const config = {
        student: {
            netid: "<%= session.student.netid %>",
            firstName: "<%= session.student.firstName %>",
            lastName: "<%= session.student.lastName %>"
        },
        sigs: <%- JSON.parse(JSON.stringify(sigs)) %>
    };

    config.sigs.unshift({
        name: "Select one"
    });

    console.log(config);
</script>

<!-- Client-side React -->
<script type="text/babel">
    const Header = ({ name }) => {
        return (
            <React.Fragment>
                <p style={styles.greeting}>Hello {name}</p>
                <p style={styles.title}>Let's Create an Event</p>
            </React.Fragment>
        );
    }

    const SigSelector = ({ sigs, value, onChange }) => {
        return (
            <select value={value} onChange={onChange}>
                {
                    sigs.map(sig => <option key={sig.name} value={sig.name}>{sig.name}</option>)
                }
            </select>
        )
    }

    const CreateForm = ({ sigs }) => {
        const [sigName, setSigName] = React.useState("Select one");
        const [eventTitle, setEventTitle] = React.useState("");

        const handleSubmit = () => {
            event.preventDefault();
        };

        return (
            <div>
                <form onSubmit={handleSubmit}>
                    <SigSelector sigs={sigs} value={sigName} onChange={(e) => setSigName(e.target.value)} />

                    <input type="text" value={eventTitle} onChange={(e) => setEventTitle(e.target.value)} />
                </form>
            </div>
        )
    }

    const App = ({ config }) => {
        return (
            <div style={styles.container}>
                <Header name={config.student.firstName} />
                <CreateForm sigs={config.sigs} />
            </div>
        )
    }

    ReactDOM.render(
        <App config={config} />,
        document.getElementById('react-mount')
    );
</script>

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap" rel="stylesheet">

<!-- Styles -->
<script type="text/javascript">
    const styles = {
        container: {
            padding: 50
        },
        greeting: {
            fontFamily: 'Open Sans',
            fontWeight: 700,
            textTransform: "uppercase",
            fontSize: 14,
            lineHeight: 0.5
        },
        title: {
            fontSize: 28,
            lineHeight: 1,
            fontWeight: 700,
            color: "black"
        }
    }
</script>