<% if (quotes && quotes.length != 0) { %>
  <table id="quotes-table" class="dynatable-container">
    <thead>
      <tr>
        <th> Quote </th>
        <th> Sources </th>
        <th> Submitted by </th>
        <th> Time </th>
        <th> Votes </th>
      </tr>
    </thead>
    <% for (var q of quotes) { %>
      <% if (isAdmin || !isAdmin && q.approved) { %>
        <tr class="quote <%= q.approved? 'approved' : 'unapproved' %>">
          <td> "<%= q.text %>" </td>
          <td> <%= sessions.users ? sessions.users[q.source] : q.source %> </td>
          <td> <%= sessions.users ? sessions.users[q.author] : q.author %> </td>
          <td> <%= q.created_at %> </td>
          <td>
            <% if (q.approved) { %>
              <a href="#" onClick="voteQuote('<%= q.id %>'); return false;" style="background-color: rgba(0,0,0,0);">
                <i id="vote-icon-<%= q.id %>" class="fa <%= q.upvoted ? "fa-thumbs-up voted" : "fa-thumbs-o-up"%>" aria-hidden="true"></i>
              </a>
              <span id="quote-counter-<%=q.id%>">
                <%= q.votes %>
              </span> Votes
            <% } %>
            <% if (isAdmin) { %>
              <% if (!q.approved) { %>
                <a href="#" onClick="approveQuote('<%= q.id %>'); return false;" class="button">Approve</a>
              <% } %>
              <a href="#" onClick="deleteQuote('<%= q.id %>'); return false;" class="button">Delete</a>
            <% } %>
          </td>
        </tr>
      <% } %>
    <% } %>
  </table>
<% } else { %>
  <h5>There are no quotes.</h5>
<% } %>