<% if (job_listings.length != 0) { %>
<table id="job-post-table">
  <tr>
    <th> Action </th>
    <th> Role </th>
    <th> Contact Information </th>
    <th> Description </th>
  </tr>
  <% for (var job of job_listings) { %>
  <tr>
    <td>
      <a class="button" onclick="approveJob('<%= job.id %>')">Approve</a>
      <a class="button" onclick="deleteJob('<%= job.id %>')">Delete</a>
    </td>
    <td><%= job.title + " @ " + job.company %></td>
    <td>
        <%= job.contact_name %> <br>
        <%= job.contact_email %> <br>
        <%= job.contact_phone %> <br>
    </td>
    <td> <%= job.description %> </td>
  </tr>
  <% } %>
</table>
<% } else { %>
  <p>Hurray! You have no unapproved jobs!</p>
<% } %>