<!--
Copyright © 2017, ACM@UIUC

This file is part of the Groot Project.  

The Groot Project is open source software, released under the University of
Illinois/NCSA Open Source License.  You should have received a copy of
this license in a file with the distribution.
-->

<%- include('../_partials/header') -%>

<div id="gigs-container">
  <div class="row col-centered small-12 medium-6 large-6">
    <%- include('../_partials/flash') -%>
    <h3 style="display:inline;"><%= gig.title %></h3>
    <a style="float:right;" href='/intranet/gigs'>Back to gigs</a>
    <div class="callout">
      <p><strong>Details:</strong> <%= gig.details %></p>
      <p><strong>Created by:</strong> <%= gig.issuer %></p>
      <p><strong>Value:</strong> <%= gig.credits %>ℂ</p>
    </div>
    <% if(gig.issuer == netid && claims.length) { %>
    <div id="gigClaims" class="callout">
      <table>
        <thead>
          <tr>
            <th>Claimant</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        <% for (var i = 0; i < claims.length; i++) { %>
          <tr>
            <td><%= claims[i].claimant %></td>
            <td>
            <% if(!claims[i].fulfilled) { %>
              <a onclick="acceptClaim(<%= claims[i].id %>); return false;" class='button'>Accept</a>
              <a onclick="rejectClaim(<%= claims[i].id %>); return false;" class='button'>Reject</a>
            <% } else { %>
              <strong>Accepted</strong>
            <% } %>
            </td>
          </tr>
        <% } %>
        </tbody>
      </table>
    </div>
    <% } %>
    <div id="gigControls">
      <% if(gig.active) { %>
        <% if(gig.issuer == netid) { %>
          <a onclick="closeGig(); return false;" class="button">Close</a>
        <% } else if(claims.length == 0) { %>   
          <a onclick="openClaim(); return false;" class="button">Claim</a>
        <% } else { %>
          <div class="callout <%= claims[0].fulfilled ? "success" : "warning" %>">
            <span><strong>Claim Status:</strong> <%= claims[0].fulfilled ? "Accepted!" : "Pending" %>
          </div>
        <% } %>
        <a class='button' style='float:right;' onclick="$('#gigEditModal').foundation('open');">Edit Gig</a>
      <% } else { %>
        <strong>Closed</strong>
      <% } %>
    </div>
  </div>
</div>

<div class="reveal card-section" id="gigEditModal" data-reveal>
  <h3>Edit Gig</h3>
  <form data-abide method="post" action="/intranet/gigs/edit/<%= gig.id %>" novalidate>
    <div class="field-group required">
      <label for="title" class="field-label">Title
        <div class="field">
          <input type="text" name="title" value="<%= gig.title %>"/>
        </div>
      </label>
    </div>
    <div class="field-group required">
      <label for="details" class="field-label">Details
        <div class="field">
          <input type="text" name="details" value="<%= gig.details %>"/>
        </div>
      </label>
    </div>
    <div class="field-group required">
      <label for="credits" class="field-label">Credits Amount
        <div class="field">
          <input type="text" required pattern="integer" name="credits" value="<%= gig.credits %>"/>
        </div>
      </label>
    </div>
    <% if(isAdmin) { %>
      <div class="card-divider field-group">
        <input name="admin_gig" type="checkbox" <%= gig.admin_task ? "checked=\"checked\"" : "" %>"><label for="checkbox1">Admin Gig</label>
        <p class="help-text">If selected, will create credits upon completion of this gig instead of debiting your credits account.</p>
      </div>
    <% } %>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="button">Edit</button>
      </div>
    </div>
    <input type="hidden" value="<%= gig.id %>" name="gig_id" />
  </form>
</div>

<%- include('../_partials/footer') -%>

<script>
$(document).foundation();

function openClaim() {
  $.ajax({
    method: "POST",
    url: '/intranet/gigs/claims',
    dataType: 'json',
    data: {
      gig_id: <%= gig.id %>
    }
  }).always(function() {
    location.reload();
  });
}

function closeGig() {
  $.ajax({
    method: "PUT",
    url: '/intranet/gigs/close/<%= gig.id %>'
  }).always(function() {
    location.reload();
  });
}

function acceptClaim(id) {
  $.ajax({
    method: "PUT",
    url: '/intranet/gigs/claims/' + id,
  }).always(function() {
    location.reload();
  });
}

function rejectClaim(id) {
  $.ajax({
    method: "DELETE",
    url: '/intranet/gigs/claims/' + id,
  }).always(function() {
    location.reload();
  });
}
</script>
