<!--
Copyright © 2017, ACM@UIUC

This file is part of the Groot Project.

The Groot Project is open source software, released under the University of
Illinois/NCSA Open Source License.  You should have received a copy of
this license in a file with the distribution.
-->

<%- include('../_partials/header') -%>

<div id="home-container" class="row">
  <div id="main-container" class="small-12 medium-9 large-9 columns">
    <%- include('../_partials/flash') -%>
    <div id="links-top" class="row">
      <div id="main-left" class="small-12 medium-12 large-12 columns">
        <h3>Your information</h3>

        <h5>Hello, <%= session.username %></p>
        <% if (session.roles.isTop4) { %>
        <p> You are part of Top 4 </p>
        <% } else if (session.roles.isAdmin) { %>
        <p>You are an admin</p>
        <% } else if (session.roles.isRecruiter && session.recruiter.is_sponsor) { %>
        <p>You are a recruiter at <%= session.recruiter.company_name %></p>
        <% } else if (session.roles.isRecruiter) { %>
        <p>
          You've been invited to attend ACM Career Week 2017! </br>
          Please register below :D
        </p>
        <% } else if (session.roles.isCorporate) { %>
        <p>You're a member of the corporate committee.</p>
        <% } else { %>
        <% } %>
      </div>
    </div>
    <div class="intranet-card-container">      
      <div class="intranet-card card">
          <h3>Merch</h3>
          <% if (session.roles.isAdmin || session.roles.isTop4) { %>
            <p>View and maintain available items</p>
          <% } else { %>
            <p>View available items to vend</p>
          <% } %>
          <a href="/intranet/merch/items"><button class="button">View items</button></a>
      </div>
      <% if (session.roles.isAdmin || session.roles.isTop4) { %>
        <div class="intranet-card card">
          <h3>User Manager</h3>
          <p>View and maintain current and pending ACM users</p>
          <a href="intranet/users"><button class="button">Manage</button></a>
        </div>
      <% } %>

      <% if (session.roles.isCorporate) { %>
        <div class="intranet-card card">
          <h3>Corporate Service Manager</h3>
          <p>Maintain resumes and job posts</p>
          <a href="/corporate/manage"><button class="button">Manage</button></a>
        </div>
        <div class="intranet-card card">
          <h3>Account Manager</h3>
          <p>Maintain all recruiter accounts</p>
          <a href="corporate/accounts"><button class="button">Manage</button></a>
        </div>
        <div class="intranet-card card">
          <h3>Resume Database</h3>
          <p>View and filter student resumes</p>
          <a href="corporate/resumes"><button class="button">View Resumes</button></a>
        </div>
      <% } %>    
      <% if (session.roles.isRecruiter && session.recruiter.is_sponsor) { %>
        <div class="intranet-card card">
          <h3>Resume Database</h3>
          <p>View and filter student resumes</p><a href="corporate/resumes">
          <button class="button">View Resumes</button></a>
        </div>

        <div class="intranet-card card">
          <h3>Create Job Listing</h3>
          <p>Post a job listing for students</p><a href="sponsors/jobs">
          <button class="button">Post Job Listing</button></a>
        </div>

        <div class="intranet-card card">
          <h3>Concert</h3>
          <p>Conduct the Concert music system.</p><a href="https://concert.acm.illinois.edu">
          <button class="button">Go</button></a>
        </div>
      <% } else if (session.roles.isRecruiter) { %>
        <div class="intranet-card card">
          <h3>Register for the career fair!</h3>
          <p>Click to register for the career fair</p><a href="/corporate/careerweek/2017">
          <button class="button">Register</button></a>
        </div>
      <% } %>


      <% if (session.roles.isStudent) { %>
        <div class="intranet-card card">
          <h3>Quote Database</h3>
          <p>Memorable quotes from ACM members past and present</p><a href="/intranet/quotes">
          <button class="button">View Quotes</button></a>
        </div>
        <div class="intranet-card card">
          <h3>Meme Service</h3>
          <p>5/7 memes from ACM memebers</p><a href="/memes">
          <button class="button">Me 2 thanks</button></a>
        </div>
        <div class="intranet-card card">
          <h3>Concert</h3>
          <p>Control the Concert music system.</p><a href="https://concert.acm.illinois.edu">
          <button class="button">Go</button></a>
        </div>

        <div class="intranet-card card">
          <h3>Job Database</h3>
          <p>View and filter jobs on campus</p>
          <a href="/jobs">
            <button class="button">View jobs</button>
          </a>
        </div>

        <div class="intranet-card card">
          <h3>Credits</h3>
          <p>View and refill your ACM credits balance</p>
          <a href="/credits">
            <button class="button">View credits</button>
          </a>
          <% if(session.roles.isAdmin) { %>
            <a href="/credits/admin">
              <button class="button">Admin View</button>
            </a>
            <a href="/credits/audit">
              <button class="button">Transaction Audit Log</button>
            </a>
          <% } %>
        </div>

        <div class="intranet-card card">
          <h3>ACM Gigs</h3>
          <p>View and work on ACM projects.</p>
          <a href="/intranet/gigs">
            <button class="button">View gigs</button>
          </a>
        </div>
      <% } %>
    </div>
  </div>

  <div id="events-container" class="small-12 medium-12 large-3 columns">
    <div id="events-title" class="row">
      <h2>Links</h2>
    </div>
    <div id="events" class="row">
      <div class="event">
        <div class="event">
          <ul class="dashed">
            <li><a href="https://www-s.acm.illinois.edu/confluence">ACM Wiki</a></li>
          </ul>
        </div>
        <div class="event">
          <ul class="dashed">
            <li><a href="https://www-s.acm.illinois.edu/mailman/listinfo">Mailing Lists </a></li>
          </ul>
        </div>
        <div class="event">
          <ul class="dashed">
            <li><a href="http://til.acm.illinois.edu">Today I Learned</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div id="events-title" class="row">
      <h2>Credits</h2>
    </div>
    <div id="events" class="row">
      <div class="event">
        <div class="event">
          <ul class="dashed">
            <li><b>Balance:</b> <%= creditsBalance %>ℂ</li>
            <li><b>PIN:</b> <%= pin %></li>
          </ul>
        </div>
        <div class="event">
          <ul class="dashed">
            <li><a href="/credits">View Details</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div id="events-title" class="row">
      <h2>Groups</h2>
    </div>
    <div id="events" class="row">
      <div class="event">
        <div class="event">
          <ul class="dashed">
            <li><a href="https://github.com/acm-uiuc">ACM Github</a></li>
          </ul>
        </div
        <div class="event">
          <ul class="dashed">
            <li><a href="https://www.facebook.com/groups/uiucacm/">ACM FB Group</a></li>
          </ul>
        </div>
        <div class="event">
          <ul class="dashed">
            <li><a href="https://gitter.im/acm-uiuc">ACM Gitter</a></li>
          </ul>
        </div>
        <div class="event">
          <ul class="dashed">
            <li><a href="https://discord.gg/DubPcuW">ACM Discord</a></li>
          </ul>
        </div>
        <div class="event">
          <ul class="dashed">
            <li><a href="http://steamcommunity.com/groups/acmuiuc">ACM Steam</a></li>
          </ul>
        </div> 
        <div class="event">
          <ul class="dashed">
            <li><a href="https://www.reddit.com/r/acmuiuc">ACM Subreddit</a></li>
          </ul>
        </div>
        <div class="event">
          <ul class="dashed">
            <li><a href="https://acm-uiuc.slack.com">ACM Slack</a></li>
          </ul>
        </div>
        <div class="event">
          <ul class="dashed">
            <li><a href="https://irc.acm.illinois.edu:5988">ACM IRC Server</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer_padding">
</div>
<%- include('../_partials/footer') -%>


